{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static "bootstrap/assets/favicon.ico" %}" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  {% comment %} bootstrap {% endcomment %}
  <link rel="stylesheet" href="{% static 'bootstrap\css\styles.css' %}">
  {% comment %} css {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1">
</head>
<body>
   
  <header class="header sticky-top">
    <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'main:popular_list' %}">Clothes store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main:popular_list' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/shop/">Shop</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
     </div>
    </nav>
  </header>

  {% comment %} Content {% endcomment %}
  <main class="main">
      {% block content %}{% endblock content %}
  </main>

  {% comment %} Додати для краси узорчікі {% endcomment %}

  {% comment %} js for bootstrap {% endcomment %}
  <script src="{% static "bootstrap\js\bootstrap.bundle.min.js" %}"></script>
</body>
</html>